In [2]:
import pandas as pd
import numpy as np

In [4]:
dates = pd.date_range('1/24/2022', periods=8)
df = pd.DataFrame(np.random.randn(8,5),
                 index=dates,
                 columns=['AA','BB','CC','DD','EE']
                 )
df

                  AA        BB        CC        DD        EE
2022-01-24  0.921018 -1.333618 -0.050661 -0.606365  1.449756
2022-01-25  0.220082  0.124391  1.211330  0.039807  0.674178
2022-01-26 -0.240739 -0.922512  0.526049 -3.068789 -0.697229
2022-01-27  0.287904 -0.505658  1.565854  1.391522  1.095793
2022-01-28  1.140348 -0.168385  0.306048 -0.950103 -0.598808
2022-01-29 -0.588458  1.153833 -0.070276 -0.849011 -0.944903
2022-01-30  0.762171 -1.303695 -0.760783 -0.554895 -0.269334
2022-01-31 -0.773568 -0.164610  0.335734  0.099294  1.186652

In [5]:
s = df['AA']
s[dates[7]] #AA列，行索引为7的值

-0.7735678265851367

In [6]:
df[['DD','AA']] = df[['AA','DD']] #列值互换
df

                  AA        BB        CC        DD        EE
2022-01-24 -0.606365 -1.333618 -0.050661  0.921018  1.449756
2022-01-25  0.039807  0.124391  1.211330  0.220082  0.674178
2022-01-26 -3.068789 -0.922512  0.526049 -0.240739 -0.697229
2022-01-27  1.391522 -0.505658  1.565854  0.287904  1.095793
2022-01-28 -0.950103 -0.168385  0.306048  1.140348 -0.598808
2022-01-29 -0.849011  1.153833 -0.070276 -0.588458 -0.944903
2022-01-30 -0.554895 -1.303695 -0.760783  0.762171 -0.269334
2022-01-31  0.099294 -0.164610  0.335734 -0.773568  1.186652

In [8]:
df[:2] #支持切片

                  AA        BB        CC        DD        EE
2022-01-24 -0.606365 -1.333618 -0.050661  0.921018  1.449756
2022-01-25  0.039807  0.124391  1.211330  0.220082  0.674178

In [17]:
df.loc['20220124':] #按标签找

                  AA        BB        CC        DD        EE
2022-01-24 -0.606365 -1.333618 -0.050661  0.921018  1.449756
2022-01-25  0.039807  0.124391  1.211330  0.220082  0.674178
2022-01-26 -3.068789 -0.922512  0.526049 -0.240739 -0.697229
2022-01-27  1.391522 -0.505658  1.565854  0.287904  1.095793
2022-01-28 -0.950103 -0.168385  0.306048  1.140348 -0.598808
2022-01-29 -0.849011  1.153833 -0.070276 -0.588458 -0.944903
2022-01-30 -0.554895 -1.303695 -0.760783  0.762171 -0.269334
2022-01-31  0.099294 -0.164610  0.335734 -0.773568  1.186652

In [13]:
df.iloc[[3,6],[3]] #索引为3、6的行，索引为3的列

                  DD
2022-01-27  0.287904
2022-01-30  0.762171

In [18]:
df.iloc[3,3] #行列索引号均为3的值
#df.iat[3,3]
#df.at[dates[3],'DD']

0.28790355119967165

In [20]:
df.sample(n=3) #随机采样，默认为1行

                  AA        BB        CC        DD        EE
2022-01-25  0.039807  0.124391  1.211330  0.220082  0.674178
2022-01-31  0.099294 -0.164610  0.335734 -0.773568  1.186652
2022-01-29 -0.849011  1.153833 -0.070276 -0.588458 -0.944903

In [24]:
df.where(df>0) #找出符合要求的值，其他设为 NaN

                  AA        BB        CC        DD        EE
2022-01-24       NaN       NaN       NaN  0.921018  1.449756
2022-01-25  0.039807  0.124391  1.211330  0.220082  0.674178
2022-01-26       NaN       NaN  0.526049       NaN       NaN
2022-01-27  1.391522       NaN  1.565854  0.287904  1.095793
2022-01-28       NaN       NaN  0.306048  1.140348       NaN
2022-01-29       NaN  1.153833       NaN       NaN       NaN
2022-01-30       NaN       NaN       NaN  0.762171       NaN
2022-01-31  0.099294       NaN  0.335734       NaN  1.186652

In [25]:
df.mask(df<0) #将符合要求的值掩盖，设为 NaN

                  AA        BB        CC        DD        EE
2022-01-24       NaN       NaN       NaN  0.921018  1.449756
2022-01-25  0.039807  0.124391  1.211330  0.220082  0.674178
2022-01-26       NaN       NaN  0.526049       NaN       NaN
2022-01-27  1.391522       NaN  1.565854  0.287904  1.095793
2022-01-28       NaN       NaN  0.306048  1.140348       NaN
2022-01-29       NaN  1.153833       NaN       NaN       NaN
2022-01-30       NaN       NaN       NaN  0.762171       NaN
2022-01-31  0.099294       NaN  0.335734       NaN  1.186652

In [26]:
df.get('EE') #取某一列

2022-01-24    1.449756
2022-01-25    0.674178
2022-01-26   -0.697229
2022-01-27    1.095793
2022-01-28   -0.598808
2022-01-29   -0.944903
2022-01-30   -0.269334
2022-01-31    1.186652
Freq: D, Name: EE, dtype: float64

In [30]:
df['FF'] = [1,2,3,np.NaN,np.NaN,np.NaN,np.NaN,np.NaN]
df

                  AA        BB        CC        DD        EE   FF
2022-01-24 -0.606365 -1.333618 -0.050661  0.921018  1.449756  1.0
2022-01-25  0.039807  0.124391  1.211330  0.220082  0.674178  2.0
2022-01-26 -3.068789 -0.922512  0.526049 -0.240739 -0.697229  3.0
2022-01-27  1.391522 -0.505658  1.565854  0.287904  1.095793  NaN
2022-01-28 -0.950103 -0.168385  0.306048  1.140348 -0.598808  NaN
2022-01-29 -0.849011  1.153833 -0.070276 -0.588458 -0.944903  NaN
2022-01-30 -0.554895 -1.303695 -0.760783  0.762171 -0.269334  NaN
2022-01-31  0.099294 -0.164610  0.335734 -0.773568  1.186652  NaN

In [31]:
df.fillna(8) #对NaN填充

                  AA        BB        CC        DD        EE   FF
2022-01-24 -0.606365 -1.333618 -0.050661  0.921018  1.449756  1.0
2022-01-25  0.039807  0.124391  1.211330  0.220082  0.674178  2.0
2022-01-26 -3.068789 -0.922512  0.526049 -0.240739 -0.697229  3.0
2022-01-27  1.391522 -0.505658  1.565854  0.287904  1.095793  8.0
2022-01-28 -0.950103 -0.168385  0.306048  1.140348 -0.598808  8.0
2022-01-29 -0.849011  1.153833 -0.070276 -0.588458 -0.944903  8.0
2022-01-30 -0.554895 -1.303695 -0.760783  0.762171 -0.269334  8.0
2022-01-31  0.099294 -0.164610  0.335734 -0.773568  1.186652  8.0