In [2]:
import pandas as pd
import numpy as np

pd.concat()

基本参数：

   objs:Series 或 DataFrame 的对象映射，或是序列
   
   axis:{0,1,2,···}连接的轴
   
   join:{'inner','outer'}，默认为 'outer'，如何处理其他轴上的索引
   
   ignore_index:bool，默认为 False，如果为真，在连接的轴上不使用索引值，结果轴将被标为 0,···,n-1
   
   keys:序列，默认为 None
   
   levels:序列列表，默认为 Nbne
   
   names:list，默认为 None
   
   verify_integrity:bool，默认为 False，检查新连接的轴是否包含重复项，不常用
   
   copy:bool，默认为 False

In [3]:
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)
df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)
frames = [df1, df2]
result = pd.concat(frames,axis=1)
result

     A    B    C    D    A    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   A4   B4   C4   D4
5  NaN  NaN  NaN  NaN   A5   B5   C5   D5
6  NaN  NaN  NaN  NaN   A6   B6   C6   D6
7  NaN  NaN  NaN  NaN   A7   B7   C7   D7

In [4]:
result = pd.concat([df1, df2], ignore_index=True, sort=False)
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

pd.merge()

基本参数：

   left:DataFrame 或 命名的 Series 对象
   
   right:另一个 DataFrame 或 命名的 Series 对象
   
   on:要连接的列或索引级别名称，必须在 left 和 right 中都能找到
   
   left_on:左 DataFrame 或 Series 的列或索引级别用作键
   
   right_on:右 DataFrame 或 Series 的列或索引级别用作键
   
   left_index:如果为真，使用左 DataFrame 或 Series 的索引作为它联合的键
   
   right_index:如果为真，使用右 DataFrame 或 Series 的索引作为它联合的键
   
   how:'left','right','outer','inner','cross'，默认为 'inner'
   
   sort:按连接键按字典顺序对结果 DataFrame 进行排序，默认为 True
   
   suffixes:应用于重叠列的字符串后缀元组，默认为 ('_x','_y')
   
   copy:默认为 True
   
   indicator:对输出 DataFrame 添加一列叫做 _merge，它带有每一行的信息
   
   validate:string，默认为 None。如果指定，检查合并是否为指定类型

In [8]:
left = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)
right = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)
result = pd.merge(left, right, on=["key1", "key2"])
result

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [9]:
df = pd.DataFrame(
    {
        "col1": ["a", "a", "b", "b", "a"],
        "col2": [1.0, 2.0, 3.0, np.nan, 5.0],
        "col3": [1.0, 2.0, 3.0, 4.0, 5.0],
    },
    columns=["col1", "col2", "col3"],
)
df2 = df.copy()
df2.loc[3, "col1"] = "c"
df2.loc[1, "col3"] = 4.0
df.compare(df2) #比较处不同之处
#下面的NaN只是那一部分没参与比较，所以这样显示

  col1       col3
  self other self other
1  NaN   NaN  2.0   4.0
3    b     c  NaN   NaN